<!-- Nome da empresa ou titulo do site -->
<div class="brand">Serazo SaaS</div>
<!-- Endereço da empresa ou subtitulo do site -->
<div class="address-bar">Consulte o score de crédito dos seus clientes</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- aparecerá somente em dispositivos mobile -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Nome da empresa ou titulo do site para os dispositivos mobile -->
            <a class="navbar-brand" href="index.html">Serazo SaaS</a>
        </div>
        <!-- nossos menu -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- cada linha é um item do menu -->
                <li><a href="#/">O que é?</a></li>
                <li><a href="#/cadastro">Cadastre-se</a></li>
                <li><a href="#/consulta">Consultar CPF</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>